input {
  beats {
    port => {{ logstash_listen_port_beats }}
{% if logstash_ssl %}
    ssl => true
    ssl_certificate_authorities => ["{{ logstash_ssl_dir }}/{{ logstash_ssl_certificate_authority | basename }}"]
    ssl_certificate => "{{ logstash_ssl_dir }}/{{ logstash_ssl_certificate_file | basename }}"
    ssl_key => "{{ logstash_ssl_dir }}/{{ logstash_ssl_key_file | basename }}"
    ssl_verify_mode => "force_peer"
{% endif %}
  }
}
