input {
  tcp {
    port => {{ logstash_listen_port_tcp }}
    type => syslog
    ssl_certificate => "{{ logstash_ssl_dir }}/{{ logstash_ssl_certificate_file }}"
    ssl_key => "{{ logstash_ssl_dir }}/{{ logstash_ssl_key_file }}"
  }
  udp {
    port => {{ logstash_listen_port_udp }}
    type => syslog
    ssl_certificate => "{{ logstash_ssl_dir }}/{{ logstash_ssl_certificate_file }}"
    ssl_key => "{{ logstash_ssl_dir }}/{{ logstash_ssl_key_file }}"
  }
}
