input {
  lumberjack {
    port => {{ logstash_listen_port_lumberjack }}
    type => "logs"
    ssl_certificate => "{{ logstash_ssl_dir }}/{{ logstash_ssl_certificate_file | basename}}"
    ssl_key => "{{ logstash_ssl_dir }}/{{ logstash_ssl_key_file | basename}}"
  }
}
