#{{ ansible_managed }}
input {

  file {
    path => "/var/log/jenkins/jenkins.log"
    type => "jenkins"
  }

  file {
    path => "{{ jenkins_home_dir }}/*.log"
    type => "jenkins"
  }
  
  file {
    path => "{{ jenkins_home_dir }}/logs/slaves/*/*.log"
    type => "jenkins"
  }
    
}
