#{{ ansible_managed }}
input {
  file {
    type => "nexus"
    path => "/home/nexus/nexus/logs/*.log"
  }

  file {
    type => "nexus"  
    path => "/home/nexus/sonatype-work/nexus/logs/*.log"
    exclude => ["*.gz"]
  }

}
