#{{ ansible_managed }}
#https://gist.github.com/evilchili/7046534
input {


  file {
    type => "jenkins"
    path => "{{ jenkins_home }}/*.log"
    exclude => ["Fingerprint cleanup.log", "selenium.log"]
  }

#TODO multiline
#  file {
#    type => "jenkins-slave"
#    path => "{{ jenkins_home }}/logs/slaves/*/*.log"
#  }
  
  file {
    type => "jenkins-selenium"
    path => "{{ jenkins_home }}/selenium.log"
  }

}

filter {

  if [type] == "jenkins-selenium" {
    grok {
      add_tag => [ "level_%{level}" ]
      #match => [ "@message", "%{TIMESTAMP_ISO8601:logTimestampString}%{SPACE}:%{LOGLEVEL:level}%{SPACE}:%{GREEDYDATA:message}" ]
      match => [ "@message", "%{DATA:logTimestampString}%{SPACE}:%{LOGLEVEL:level}%{SPACE}:%{GREEDYDATA:message}" ]
    }
	#date {
    #  locale => "en"
    #  match => ["logTimestampString", "YYYY-MM-dd;HH:mm:ss.SSS", "ISO8601"]
    #  timezone => "Europe/Vienna"
    #  target => "@timestamp"
    #  add_field => { "debug" => "timestampMatched"}
    #}    
  }else if [type] == "jenkins" {
    grok {
      add_tag => [ "level_%{level}" ]
      match => [ "@message", "%{LOGLEVEL:level}%{SPACE}:%{GREEDYDATA:message}" ]
    }
  }

}

#filter {
#    if "type-" in [type] {
#        # Remove already-parsed data
#        mutate {
#            remove_field => [ "message" ]
#        }
#    }
#}
