#{{ ansible_managed }}
input {
  file {
    type => "apache"
    path => "/var/log/apache2/*.log"
    #start_position => beginning
    exclude => ["*.gz"]
  }
}

filter {
  if [type] == "apache" {
    if [path] =~ "access" {
      mutate { replace => { type => "apache_access" } }
      grok {
        match => { "message" => "%{COMBINEDAPACHELOG}" }
      }
      date {
        match => [ "timestamp" , "dd/MMM/yyyy:HH:mm:ss Z" ]
      }
    } else if [path] =~ "error" {
      mutate { replace => { type => "apache_error" } }
    } else {
      mutate { replace => { type => "random_logs" } }
    }
  }
}
