#{{ ansible_managed }}
input {
  file {
    type => "supervisor"
    path => "/var/log/supervisor/*.log"
  }

  file {
    type => "zabbix"  
    path => "/var/log/zabbix-agent/*.log"
  }

  file {
    type => "zabbix"  
    path => "/var/log/zabbix/*.log"
  }

  file {
    path => "/var/log/tomcat7/*.log"
    exclude => ["*.gz"]
  }

  file {
    path => "/var/log/rabbitmq/*.log"
    exclude => ["*.gz"]
  }

  file {
    path => "/var/log/postgresql/*.log"
    exclude => ["*.gz"]
  }

  file {
    path => "/var/log/mysql/*.log"
  }

  file {
    path => "/var/log/mon/*.log"
  }

  file {
    path => "/var/log/mail.log"
  }

  file {
    type => "docker"  
    path => "/var/log/docker*.log"
  }
  
  file {
    path => "/var/log/upstart/*.log"
    exclude => ["*.gz"]
    exclude => ["logstash.log","docker.log"]
  }

}
