output {
  elasticsearch {
    hosts => {{ logstash_elasticsearch_hosts | to_json }}
{% if logstash_elasticsearch_user is defined and logstash_elasticsearch_password is defined%}
    user => "{{ logstash_elasticsearch_user }}"
    password => "{{ logstash_elasticsearch_password }}"
{% endif %}
    index => "{{ logstash_elasticsearch_index }}"
    manage_template => "{{ logstash_elasticsearch_manage_template | json }}"
    document_type => "%{[@metadata][type]}"
  }
}
