[logstash-{{ logstash_version }}]
name=Elastic repository for {{ logstash_version }} packages
baseurl=https://artifacts.elastic.co/packages/{{ logstash_version }}/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md