filter {
  if [type] == "solr" {
    if [message] =~ /org\.apache\.solr\.core\.SolrCore execute/ {
      drop { }
    }
    grok {
      match => { "message" => "<%{POSINT:priority}>%{SYSLOGLINE}"}
    }
    multiline {
      pattern => "(([^\s]+)Exception.+)|(at:.+)"
      stream_identity => "%{logsource}.%{@type}"
      what => "previous"
    }
  }
}
